.app {
  max-width: 970px;
  padding: 3rem 3%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-weight:bold;
}